# Compiled class file
*.class

# Log file
*.log

### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### Gradle ###
.gradle
/build/

# Mac DS file
.DS_Store


/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules/memoranda.test.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
